
/*nav 开始*/
nav.cd-3d-nav-container{
    position:fixed;
    top: 0;
    left: 0;
    background: rgba(119, 119, 119, 0.7);
    width: 100%;
    height: 150px;
    visibility: hidden;
    perspective:1000px;
    /*transform-style: preserve-3d;*/
    -webkit-transform:translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: transform 0.5s 0s, visibility 0s 0.5s;
    -moz-transition: transform 0.5s 0s, visibility 0s 0.5s;
    -o-transition: transform 0.5s 0s, visibility 0s 0.5s;
    transition: transform 0.5s 0s, visibility 0s 0.5s;
    overflow: hidden;
}
nav.cd-3d-nav-container .cd-3d-div{
    position:relative;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    background: #343c55;
}
nav.cd-3d-nav-container .cd-3d-div li{
    width: 20%;
    height: 100%;
    float: left;
}
nav.cd-3d-nav-container .cd-3d-div li a{
    position: relative;
    display: block;
    height: 100%;
    color: rgba(255,255,255,0.2);
    font-weight: bold;
    line-height:150px;
    text-align:center;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
nav.cd-3d-nav-container .cd-3d-div li a:after{
    position:absolute;
    bottom: 0;
    left: 0;
    content: "";
    width:0;
    height:3px;
    background-color: #9a57bd;
    -webkit-transition: width 0.5s, background-color 0.5s;
    -moz-transition: width 0.5s, background-color 0.5s;
    -o-transition: width 0.5s, background-color 0.5s;
    transition: width 0.5s, background-color 0.5s;
}
nav.cd-3d-nav-container .cd-3d-div li.cd-selected a{
    background: #000;
    color: #fff;
}
nav.cd-3d-nav-container .cd-3d-div li.cd-selected a:after{
    position:absolute;
    bottom: 0;
    left: 0;
    content: "";
    width:100%;
    height:3px;
    background-color: #9a57bd;
    -webkit-transition: width 0.2s, background-color 0.5s;
    -moz-transition: width 0.2s, background-color 0.5s;
    -o-transition: width 0.2s, background-color 0.5s;
    transition: width 0.2s, background-color 0.5s;
}
@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
nav.cd-3d-nav-container .cd-3d-div li a>i{
    display:block;
    height: 37px;
    font-size: 30px;
}
nav.cd-3d-nav-container .cd-3d-div li a>span{
    display:block;
}


/*nav-is-visible*/
nav.nav-is-visible{
    visibility: visible;
    -webkit-transform:translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: transform 0.5s 0s, visibility 0.5s 0s;
    -moz-transition: transform 0.5s 0s, visibility 0.5s 0s;
    -o-transition: transform 0.5s 0s, visibility 0.5s 0s;
    transition: transform 0.5s 0s, visibility 0.5s 0s;
}
nav.cd-3d-nav-container.nav-is-visible .cd-3d-div{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

/*header 开始*/
header.cd-header{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100px;
}
header.cd-header .logo{
    position: absolute;
    top: 20px;
    left: 100px;
}
header.cd-header .logo a>img{
    border: 0;
}
header.cd-header .cd-3d-nav-trigger{
    position:absolute;
    top:0;
    right:100px;
    width:30px;
    height:100px;
    line-height:100px;
    cursor: pointer;
}
header.cd-header .cd-3d-nav-trigger span.button{
    position: absolute;
    top: 50px;
    left: 0;
    width:28px;
    height:3px;
    background:rgba(255,255,255,1);
    -webkit-transition: -webkit-transform 0.2s 0.5s,background 0.2s 0.5s;
    -moz-transition: -moz-transform 0.2s 0.5s,background 0.2s 0.5s;
    transition: transform 0.2s 0.5s,background 0.2s 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
header.cd-header .cd-3d-nav-trigger span.button:after,header.cd-header .cd-3d-nav-trigger span.button:before{
    position: absolute;
    content: "";
    left: 0;
    width:28px;
    height: 3px;
    background:rgba(255,255,255,1);
    -webkit-transition: -webkit-transform 0.2s 0.5s;
    -moz-transition: -moz-transform 0.2s 0.5s;
    transition: transform 0.2s 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
header.cd-header .cd-3d-nav-trigger span.button:after{
    top: 8px;
}
header.cd-header .cd-3d-nav-trigger span.button:before{
    bottom: 8px;
}
/*nav-is-visible*/
header.nav-is-visible{
    top: 150px;
}
header.cd-header .cd-3d-nav-trigger span.nav-is-visible:before{
    -webkit-transform: translateY(8px) rotate(-45deg);
    -moz-transform: translateY(8px) rotate(-45deg);
    -o-transform: translateY(8px) rotate(-45deg);
    -ms-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
}
header.cd-header .cd-3d-nav-trigger span.nav-is-visible:after{
    -webkit-transform: translateY(-8px) rotate(45deg);
    -moz-transform: translateY(-8px) rotate(45deg);
    -o-transform: translateY(-8px) rotate(45deg);
    -ms-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
}
header.cd-header .cd-3d-nav-trigger span.nav-is-visible{
    background:rgba(255,255,255,0);
}
path{
    fill: none;
    stroke-miterlimit: 3px;
    stroke-width: 15px;
    stroke-linecap: butt;
    stroke-linejoin: bevel;
    stroke-dasharray: 50px;
    stroke-dashoffset: 0px;
}
/*main start*/
#canvas{
    background:black;
}
#music{
    position: fixed;
    top: 30%;
    right: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 10000;
}
#music.play{
    -webkit-animation: rotateMus 6s linear infinite;
    -moz-animation: rotateMus 6s linear infinite;
    -o-animation: rotateMus 6s linear infinite;
    animation: rotateMus 6s linear infinite;
}
audio{
    visibility: hidden;
}
@-webkit-keyframes rotateMus {
    0%{
        -webkit-transform : rotateZ(0deg);
        -moz-transform : rotateZ(0deg);
        -ms-transform : rotateZ(0deg);
        -o-transform : rotateZ(0deg);
        transform : rotateZ(0deg);
    }
    100%{
        -webkit-transform : rotateZ(360deg);
        -moz-transform : rotateZ(360deg);
        -ms-transform : rotateZ(360deg);
        -o-transform : rotateZ(360deg);
        transform : rotateZ(360deg);
    }
}
@-moz-keyframes rotateMus {
    0%{
        -webkit-transform : rotateZ(0deg);
        -moz-transform : rotateZ(0deg);
        -ms-transform : rotateZ(0deg);
        -o-transform : rotateZ(0deg);
        transform : rotateZ(0deg);
    }
    100%{
        -webkit-transform : rotateZ(360deg);
        -moz-transform : rotateZ(360deg);
        -ms-transform : rotateZ(360deg);
        -o-transform : rotateZ(360deg);
        transform : rotateZ(360deg);
    }
}
@-o-keyframes rotateMus {
    0%{
        -webkit-transform : rotateZ(0deg);
        -moz-transform : rotateZ(0deg);
        -ms-transform : rotateZ(0deg);
        -o-transform : rotateZ(0deg);
        transform : rotateZ(0deg);
    }
    100%{
        -webkit-transform : rotateZ(360deg);
        -moz-transform : rotateZ(360deg);
        -ms-transform : rotateZ(360deg);
        -o-transform : rotateZ(360deg);
        transform : rotateZ(360deg);
    }
}
@keyframes rotateMus {
    0%{
        -webkit-transform : rotateZ(0deg);
        -moz-transform : rotateZ(0deg);
        -ms-transform : rotateZ(0deg);
        -o-transform : rotateZ(0deg);
        transform : rotateZ(0deg);
    }
    100%{
        -webkit-transform : rotateZ(360deg);
        -moz-transform : rotateZ(360deg);
        -ms-transform : rotateZ(360deg);
        -o-transform : rotateZ(360deg);
        transform : rotateZ(360deg);
    }
}/* calendar */
#calendar{
    position: fixed;
    top: 200px;
    left: 50px;

}
#calendar .botPage,#calendar .topPage{
    position: absolute;
}
#calendar , #calendar .botPage,#calendar .topPage{
    width: 100px;
    height: 100px;
    -webkit-transform: skew(20deg) rotateX(30deg);
    -moz-transform: skew(20deg) rotateX(30deg);
    -ms-transform: skew(20deg) rotateX(30deg);
    -o-transform: skew(20deg) rotateX(30deg);
    transform: skew(20deg) rotateX(30deg);
    -webkit-box-shadow: -5px 5px 5px #000;
    -moz-box-shadow: -5px 5px 5px #000    ;
    box-shadow: -5px 5px 5px #000    ;
    background: #fff;
}
#calendar .botPage:nth-child(1){
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}
#calendar .topPage:nth-child(2){
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
#calendar .topPage .tpDate{
    width: 80px;
    height: 60px;
    border-radius: 0 0 20px 20px;
    background: #f00;
    margin: 27px auto 0;
}
#calendar .topPage .tpDate:before{
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 20px;
    width: 80px;
    border-radius: 50%;
    background: #f00;
    z-index: -1;
}
#calendar .topPage .tpDate span{
    display: block;
    width: 80px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
#calendar .topPage .tpDate span.date{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
}
#calendar .topPage .tpDate span.month{
    height:30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: -5px 5px 5px #000;
}

/*手机适配*/
@media screen and ( max-width: 640px ) {
    nav.cd-3d-nav-container .cd-3d-div li a>i,.cd-3d-nav-trigger,#calendar,.mobNav{
        display: none;
    }
    nav.cd-3d-nav-container .cd-3d-div li a>span {
        display: block;
        width: 100%;
        height: 100%;
    }
    .introduce{
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        height: 40%;
        color: #fff;
        font-weight: bold;
        letter-spacing: 2px;
        text-shadow: 0 0 10px #c72ead;
        z-index: 99;
    }
    .mobNav{
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        width: 80%;
        margin: 0 auto;
        z-index: 100;
    }
    .mobNav .mobBtn{
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        font-size: 36px;
        color: #000;
        background: rgba(255,255,255,.7);
        margin: 0 auto;
    }
    .mobNav .mobList{
        display: none;
        width: 100%;
        height: 215px;
        background: rgba(255,255,255,.9);
        border-radius: 10px;
        margin-top: 5px;
        overflow: hidden;
    }
    .mobNav .mobList .mobItem{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.85);
        margin: 5px auto;
    }
    .mobNav .mobList .mobItem:nth-child(1){
        margin-top: 0;
    }
    .mobNav .mobList .mobItem:nth-child(4){
        margin-bottom: 0;
    }
}
