body,html,div,h2,p,section,ul,li,ol,span,a,dl,dt,dd,nav,input,select,button{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
li{
    list-style: none;
}
h2{
    font-size: 18px;
    color:#008000;
    margin: 10px 0;
}
a{
    font-size: 12px;
}
em,i{
    font-style: normal;
}
/********** main style **********************************************/
body,html{
    position: relative;
    height: 100%;
    background: darkgreen;
    font-size: 12px;
    color: #fff;
    overflow-y: hidden;
}
.wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.wrap .header{
    width: 1000px;
    height: 40px;
    line-height: 40px;
    margin: 100px auto 0;
}
.wrap .header .condition{
    float: left;
}
.wrap .header span{
    margin-right: 10px;
}
.wrap .header .result{
    float: right;
}
.wrap ul.cards{
    width: 1200px;
    height: 250px;
    margin: 160px auto;
}
.wrap ul.cards li.cards-item{
    float: left;
    width: 200px;
    height: 250px;
    margin: 0 20px;
}
.wrap ul.cards li.cards-item>a{
    position: relative;
    display: block;
    width: 200px;
    height: 250px;
    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform 2s;
    -moz-transition: transform 2s ;
    -ms-transition: transform 2s ;
    -o-transition: transform 2s ;
    transition: transform 2s ;
}
.wrap ul.cards li.cards-item>a>img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrap ul.cards li.cards-item>a>img.load{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.wrap ul.cards li.cards-item>a>img.card{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.wrap ul.cards li.cards-item:nth-child(1){
    -webkit-transform: translateY(100px) rotate(-30deg);
    -moz-transform: translateY(100px) rotate(-30deg);
    -ms-transform: translateY(100px) rotate(-30deg);
    -o-transform: translateY(100px) rotate(-30deg);
    transform: translateY(100px) rotate(-30deg);
}
.wrap ul.cards li.cards-item:nth-child(2){
    -webkit-transform: rotate(-18deg) translateX(-14px);
    -moz-transform: rotate(-18deg) translateX(-14px);
    -ms-transform: rotate(-18deg) translateX(-14px);
    -o-transform: rotate(-18deg) translateX(-14px);
    transform: rotate(-18deg) translateX(-14px);
}
.wrap ul.cards li.cards-item:nth-child(3){
    -webkit-transform: translateY(-36px);
    -moz-transform: translateY(-36px);
    -ms-transform: translateY(-36px);
    -o-transform: translateY(-36px);
    transform: translateY(-36px);
}
.wrap ul.cards li.cards-item:nth-child(4){
    -webkit-transform: rotate(18deg) translateX(14px);
    -moz-transform: rotate(18deg) translateX(14px);
    -ms-transform: rotate(18deg) translateX(14px);
    -o-transform: rotate(18deg) translateX(14px);
    transform: rotate(18deg) translateX(14px);
}
.wrap ul.cards li.cards-item:nth-child(5){
    -webkit-transform: translateY(100px) rotate(30deg);
    -moz-transform: translateY(100px) rotate(30deg);
    -ms-transform: translateY(100px) rotate(30deg);
    -o-transform: translateY(100px) rotate(30deg);
    transform: translateY(100px) rotate(30deg);
}
.wrap .tool{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.wrap .tool .btn{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 5px;
    color: #000;
    background: #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor: pointer;
}
.wrap .tool .score{
    margin-left: 30px;
}
